flask
flask-cors
python-dotenv
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
flask-sqlalchemy
pypdf
faiss-cpu
sqlalchemy
pydantic-settings
aiohttp
httpx-sse
requests